/*
Blåfarge: #043b7c
Gulfarge: #faa21b
*/

/*
Navbar:
90% av bredden
Hver knapp = 15% av sidens bredd, eller 50/3% av navbarens bredd
*/

/*Bakgrunn og generellt fargetema*/
body{
    background-color: whitesmoke;
	margin: 0 0 0 0;
	font-family: "Bodoni 72 Oldstyle Book", Arial, sans-serif;
}

h1,h2,h3,h4 {
	font-family: "Bodoni 72 Smallcaps Book", Arial, sans-serif;
}

header {
	font-family: "Bodoni 72 Smallcaps Book", Arial, sans-serif;
}

/*Header og footer farga*/
header, footer {
    background-color: #043b7c;
	padding: 30px;
	text-align: center;
}

header{
	padding-bottom: 15px;
}

/*Navbar styling*/
nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 15px;
	border-top: #faa21b 1px solid;
}

nav div{
	width: 1px;
	height: 20px;
	background-color: #faa21b; 
}

/*Zoom på knappan on hover*/
nav a{
	transition: transform .2s ease-out;
}

nav a:hover {
	transform: scale(1.2);
	
}

/*logo styling*/
#logo {
	width: 250px;
	border-radius: 50%;
	padding: 3px;
	background-color: whitesmoke;
}

/*Artikkel styling*/
article{
	margin: auto;
	width: 65%
}

article img{
	width: 40%
}

/*
h1, h2, h3{
	font-family: Arial, Helvetica, sans-serif;
	color: #043b7c;
}
*/

header *, footer *{
	color: #faa21b;
}

/*Footer styling*/
html, body {
	min-height:100%;
	position:relative;
}

/*DEN FUCKINGS MAGIEN E SKREIV SOM FIKK FOOTERN TE Å HOLD SEG PÅ BUNNEN! https://youtu.be/lr6sTZjnHJA?t=2*/
body {
   padding-bottom: 45px; 
}

footer {
	position:absolute;
    width: 100%;
    padding: 15px 0 15px 0;
	top: calc(max(100%, 100vh) - 45px);/*I've been looking at this for four hours now, it's beautiful*/
}

footer p {
	margin: 0;
	font-size: 0.8em;
}


/*Gule punkt*/
ul {
	list-style: none;
}

ul li::before {
	content: "\2022";
	color: #043b7c;
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

/*Fjerner underline på tekstlenke*/
a:link {
	text-decoration: none;
  }
  
/*Henrik or not.......*/
.selection {
	width:50%;
	float: right;
	border: 3px solid #043b7c;
	font: 25px "Bodoni 72 Oldstyle Book", Arial, sans-serif;
	border:none;
	vertical-align:middle;
	padding-bottom: 10px;
}

#henrik_or_not {
    margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding: 10px;
}

#henrik_or_not img {
	border: 3px solid #043b7c;
	display: inline;
}

		/*Påvirker det her knapper på andre sider?*/
input[type="submit"] {
	background: #043b7c;
	color:#faa21b;
	border-style: outset;
	border-color:gray;
	height: 50px;
	display: block;
    margin-left: auto;
	margin-right: auto;
	width: auto;
	text-align: center;
	font: bold 40px "Bodoni 72 Smallcaps Book", Arial, sans-serif;
	text-shadow:none;
}

		/*Påvirker det her knapper på andre sider?*/
input:hover[type="submit"] {
	background: rgb(0, 25, 139);
	color:#faa21b;
	border-style: outset;
	border-color: gray;
	height: 50px;
	display: block;
    margin-left: auto;
	margin-right: auto;
	width: auto;
	text-align: center;
	font: bold 40px "Bodoni 72 Smallcaps Book", Arial, sans-serif;
	text-shadow:none;
}
