/*
Blåfarge: #043b7c
Gulfarge: #faa21b
Font for headers i Chrome: "Playfair Display SC"
*/

/*Bakgrunn og generellt fargetema*/
body{
    background-color: whitesmoke;
	margin: 0 0 0 0;
	font-family: "Bodoni 72 Oldstyle Book", "Playfair Display", sans-serif;
}

/*Alle headers*/
h1,h2,h3,h4 {
	font-family: "Bodoni 72 Smallcaps Book", "Playfair Display SC", sans-serif;
}

/*Header og footer farga*/
header, footer {
    background-color: #043b7c;
	padding: 30px;
	text-align: center;
}

header{
	padding-bottom: 15px;
}

/*Navbar styling*/
nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 15px;
	border-top: #faa21b 1px solid;
}

/*Strekene mellom navbar-knapper*/
nav div{
	width: 1px;
	height: 20px;
	background-color: #faa21b; 
}

/*Zoom på knappan on hover*/
nav a{
	transition: transform .2s ease-out;
	font-family: "Bodoni 72 Smallcaps Book", "Playfair Display SC", sans-serif;
}
nav a:hover {
	transform: scale(1.2);
}

/*logo styling*/
#logo {
	width: 250px;
	border-radius: 50%;
	padding: 3px;
	background-color: whitesmoke;
}

/*Artikkel styling*/
article{
	margin: auto;
	width: 65%
}
/*Alle bilder i articles UTENOM Henrik or Not*/
article:not(#henrik_or_not) img{
	width: 40%
}

/*Tekstfarge til navbar og footer*/
header *, footer *{
	color: #faa21b;
}

/*Footer styling*/
html, body {
	min-height:100%;
	position:relative;
}
/*DEN FUCKINGS MAGIEN E SKREIV SOM FIKK FOOTERN TE Å HOLD SEG PÅ BUNNEN! https://youtu.be/lr6sTZjnHJA?t=2*/
body {
   padding-bottom: 45px; 
}
footer {
	position:absolute;
    width: 100%;
    padding: 15px 0 15px 0;
	top: calc(max(100%, 100vh) - 45px);/*I've been looking at this for four hours now, it's beautiful*/
}
footer p {
	margin: 0;
	font-size: 0.8em;
}

/*Gule punkt*/			/*Om noen lager ul, ellers delete før innlevering*/
ul {
	list-style: none;
}
						/*Om noen lager ul, ellers delete før innlevering*/
ul li::before {
	content: "\2022";
	color: #043b7c;
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

/*Fjerner underline på tekstlenke*/
a:link {
	text-decoration: none;
  }
  
/*Felles styling for alle knapper på siden (nå brukt på "Henrik or Not" og "Historiske Henriker")*/
input[type="submit"] {
	background: #043b7c;
	color:#faa21b;
	border-style: outset;
	border-color:gray;
	height: 50px;
	display: block;
    margin-left: auto;
	margin-right: auto;
	width: auto;
	text-align: center;
	font: bold 40px "Bodoni 72 Smallcaps Book", "Playfair Display SC", sans-serif;
	text-shadow:none;
}

input:hover[type="submit"] {
	background: rgb(0, 25, 139);
	color:#faa21b;
	border-style: outset;
	border-color: gray;
	height: 50px;
	display: block;
    margin-left: auto;
	margin-right: auto;
	width: auto;
	text-align: center;
	font: bold 40px "Bodoni 72 Smallcaps Book", "Playfair Display SC", sans-serif;
	text-shadow:none;
}

					/*HENRIK_OR_NOT.HTML - daniel*/
/*Fieldsets som innholder svarsalternativen*/					
.selection {
	width:50%;
	float: right;
	border: 3px solid #043b7c;
	font: 25px "Bodoni 72 Oldstyle Book", "Playfair Display", sans-serif;
	border:none;
	vertical-align:middle;
	padding-bottom: 10px;
}
/*Styling og posisjonering for hele articelen*/
#henrik_or_not {
    margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding: 10px;
	margin-bottom: 70px;
}
/*Bilderne til Henrik or Not*/
#henrik_or_not img {
	border: 3px solid #043b7c;
	height:300px;
}

input[type="submit"] {
	background: #043b7c;
	color:#faa21b;
	border-style: outset;
	border-color:gray;
	height: 60px;
	display: block;
    margin-left: auto;
	margin-right: auto;
	width: 50%;
	text-align: center;
	font: bold 40 "Bodoni 72 Smallcaps Book", "Playfair Display SC", sans-serif;
	text-shadow:none;
}

input:hover[type="submit"] {
	background: rgb(0, 25, 139);
	color:#faa21b;
	border-style: outset;
	border-color: gray;
	height: 60px;
	display: block;
    margin-left: auto;
	margin-right: auto;
	width: 50%;
	height:60px;
	text-align: center;
	font: bold 40px "Bodoni 72 Smallcaps Book", "Playfair Display SC", sans-serif;
	text-shadow:none;
}
/*
#henrikkjenner {
	visibility:hidden;
}
*/

#henrikkjenner {
	width:100%;
}

#previous, #next {
	width:50%;
	height:60px;
	display: block;
	float: left;
	background: #043b7c;
	color:#faa21b;
	border-style: outset;
	border-color:gray;
	text-align: center;
	font: bold 40px "Bodoni 72 Smallcaps Book", "Playfair Display SC", sans-serif;
	text-shadow:none;
}

#previous:hover, #next:hover{
	background: rgb(0, 25, 139);
	color:#faa21b;
	border-style: outset;
	border-color: gray;
	display: block;
    margin-left: auto;
	margin-right: auto;
	width: 50%;
	text-align: center;
	text-shadow:none;
}
					/*SLUT PÅ HENRIK_OR_NOT.HTML - daniel*/
