/*
Blåfarge: #043b7c
Gulfarge: #faa21b
Font for headers i Chrome: "Playfair Display SC"
*/

/*Bakgrunn og generellt fargetema*/
body{
    background-color: whitesmoke;
	margin: 0 0 0 0;
	font-family: "Bodoni 72 Oldstyle Book", "Playfair Display", sans-serif;
}

/*Alle headers*/
h1,h2,h3,h4 {
	font-family: "Bodoni 72 Smallcaps Book", "Playfair Display SC", sans-serif;
}

/*Header og footer farga*/
header, footer {
    background-color: #043b7c;
	padding: 30px;
	text-align: center;
}

header{
	padding-bottom: 15px;
}

/*Navbar styling*/
nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 15px;
	border-top: #faa21b 1px solid;
}

/*Strekene mellom navbar-knapper*/
nav div{
	width: 1px;
	height: 20px;
	background-color: #faa21b; 
}

/*Zoom på knappan on hover*/
nav a{
	transition: transform .2s ease-out;
	font-family: "Bodoni 72 Smallcaps Book", "Playfair Display SC", sans-serif;
}
nav a:hover {
	transform: scale(1.2);
}

/*logo styling*/
#logo {
	width: 250px;
	border-radius: 50%;
	padding: 3px;
	background-color: whitesmoke;
	margin-bottom: 20px;
}

/*Artikkel styling*/
article{
	margin: auto;
	width: 65%
}

h2:first-child{
	text-align: center;
}

/*Alle bilder i articles UTENOM Henrik or Not*/
article:not(#henrik_or_not) img{
	width: 40%
}

/*Tekstfarge til navbar og footer*/
header *, footer *{
	color: #faa21b;
}

/*Footer styling*/
html, body {
	min-height:100%;
	position:relative;
}

/*DEN FUCKINGS MAGIEN E SKREIV SOM FIKK FOOTERN TE Å HOLD SEG PÅ BUNNEN! https://youtu.be/lr6sTZjnHJA?t=2*/
body {
   padding-bottom: 45px; 
}
footer {
	position:absolute;
    width: 100%;
    padding: 15px 0 15px 0;
	top: calc(max(100%, 100vh) - 47px);/*I've been looking at this for four hours now, it's beautiful*/
}
footer p {
	margin: 0;
	font-size: 0.8em;
}
	/*Den her gjør at jeg ikke får fjerna bulletsene i boksgriden min - Morten

						/*Gule punkt: Om noen lager ul, ellers delete før innlevering
						ul {
							list-style: none;
						}
												
						ul li::before {
							content: "\2022";
							color: #043b7c;
							font-weight: bold;
							display: inline-block;
							width: 1em;
							margin-left: -1em;
						}
						*/

/*Fjerner underline på tekstlenke*/
a:link {
	text-decoration: none;
  }
  
/*Felles styling for alle knapper på siden (nå brukt på "Henrik or Not" og "Historiske Henriker")*/
input[type="submit"] {
	background: #043b7c;
	color:#faa21b;
	border-style: outset;
	border-color:gray;
	height: 50px;
	display: block;
    margin-left: auto;
	margin-right: auto;
	width: auto;
	text-align: center;
	font: bold 40px "Bodoni 72 Smallcaps Book", "Playfair Display SC", sans-serif;
	text-shadow:none;
}

input:hover[type="submit"] {
	background: rgb(0, 25, 139);
	color:#faa21b;
	border-style: outset;
	border-color: gray;
	height: 50px;
	display: block;
    margin-left: auto;
	margin-right: auto;
	width: auto;
	text-align: center;
	font: bold 40px "Bodoni 72 Smallcaps Book", "Playfair Display SC", sans-serif;
	text-shadow:none;
}

					/*HENRIK_OR_NOT.HTML - daniel*/
/*Fieldsets som innholder svarsalternativen*/					
.selection {
	width:50%;
	float: right;
	border: 3px solid #043b7c;
	font: 25px "Bodoni 72 Oldstyle Book", "Playfair Display", sans-serif;
	border:none;
	vertical-align:middle;
	padding-bottom: 10px;
}
/*Styling og posisjonering for hele articelen*/
#henrik_or_not {
    margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding: 10px;
	margin-bottom: 70px;
}
/*Bilderne til Henrik or Not*/
#henrik_or_not img {
	border: 3px solid #043b7c;
	height:300px;
}

input[type="submit"] {
	background: #043b7c;
	color:#faa21b;
	border-style: outset;
	border-color:gray;
	height: 60px;
	display: block;
    margin-left: auto;
	margin-right: auto;
	width: 50%;
	text-align: center;
	font: bold 40 "Bodoni 72 Smallcaps Book", "Playfair Display SC", sans-serif;
	text-shadow:none;
}

input:hover[type="submit"] {
	background: rgb(0, 25, 139);
	color:#faa21b;
	border-style: outset;
	border-color: gray;
	height: 60px;
	display: block;
    margin-left: auto;
	margin-right: auto;
	width: 50%;
	height:60px;
	text-align: center;
	font: bold 40px "Bodoni 72 Smallcaps Book", "Playfair Display SC", sans-serif;
	text-shadow:none;
}
/*
#henrikkjenner {
	visibility:hidden;
}
*/

#henrikkjenner {
	width:100%;
}

#previous, #next {
	width:50%;
	height:60px;
	display: block;
	float: left;
	background: #043b7c;
	color:#faa21b;
	border-style: outset;
	border-color:gray;
	text-align: center;
	font: bold 40px "Bodoni 72 Smallcaps Book", "Playfair Display SC", sans-serif;
	text-shadow:none;
}

#previous:hover, #next:hover{
	background: rgb(0, 25, 139);
	color:#faa21b;
	border-style: outset;
	border-color: gray;
	display: block;
    margin-left: auto;
	margin-right: auto;
	width: 50%;
	text-align: center;
	text-shadow:none;
}


					/************* BLI EN HENRIK - Jakob *************/

#meldInn{
	text-align: center;
}




					/****************** FORSIDE - INDEX.HTML - MORTEN ********************/

#forsideInfo {
text-align: left;
margin: 50px;
}

#forsideInfo > h1 {
text-align: left;
margin-bottom: -10px;
}



					/********INSTABOKSER***********/

.boksgrid {
margin-left: -50px;
margin-top: -20px;
}

.instaboksseksjon {
position: relative;
margin-top: -30px;
margin-left: 50px;
display: table;
max-width: 960px;
text-align: left;
}

.instaboksseksjon li {
list-style: none;
}

.boksgrid li {
width: 200px;
height: 200px;
display: inline-block;
margin: 10px;

}

.instaboks {
width: 100%;
height: 100%;
position: relative;
cursor: pointer;
border-style: solid;
border-color: #043b7c ;
transition: 0.3s ease-in-out

}

.instaboks:hover {
transform: scale(1.05); 
}


.bokstekst h3 {
position: relative;
margin-top: 5px;
color: black;
font-size: 25px;
margin-left: 5px ;

}

						/*************** SITATER ****************/
/*selve sitatteksten*/
.sitat {
	font-family: 'Parisienne', cursive;
	font-size: 100px;
	text-align: center;
}
/*div som holder sitaten og kildepersonen*/
.sitatboks {
	margin: auto;
	width: 90%;
	height:100%;
  	border: 3px solid #043b7c;
	padding: 10px;
	padding-top: 0px;
}
/*basically hele siden*/
.sitatarticle {
	padding-top: 20px;
	padding-bottom: 50px;
}
/*teksten for kildepersonen*/
.kilde {
	font-family: 'Parisienne', cursive;
	font-size: 40px;
	text-align: right;
	padding-right: 20px;
}

						/*************** BAKGRUNNSBILDER  **************/
.etymologi { 
background: 
	linear-gradient(
		rgba(0, 0, 0, 0.10), 
		rgba(0, 0, 0, 0.10)
	),
	url(/media/images/instaboksBilder/henrikOrNotGuleTomler.png)
}
						/****************** FORSIDE - INDEX.HTML - MORTEN ********************/
#forsideInfo {
	text-align: left;
	margin: 50px;
	}

	#forsideInfo > h1 {
	text-align: left;
	margin-bottom: -10px;
	}
	
	/* instabokser */
	
	.boksgrid {
	margin-left: -50px;
	margin-top: -20px;
	}
	
	.instaboksseksjon {
	position: relative;
	margin-top: -30px;
	margin-left: 50px;
	display: table;
	max-width: 960px;
	text-align: left;
	}
	
	.boksgrid li {
	width: 200px;
	height: 200px;
	display: inline-block;
	margin: 10px;
	
	}
	
	.instaboks {
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
	border-style: solid;
	border-color: #043b7c ;
	transition: 0.3s ease-in-out
	
	}
	
	.instaboks:hover {
	transform: scale(1.05); 
	}
	
	
	.bokstekst h3 {
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-top: 5px;
	color: black;
	font-size: 25px;
	
	}
	
	
	
	
	
	/*bakgrunnsbilder */
	
	
	
	.etymologi { 
	background: 
		linear-gradient(
			rgba(0, 0, 0, 0.10), 
			rgba(0, 0, 0, 0.10)
		),
		url(/main/media/images/instaboksBilder/guleTomler200.png)
	}
	
	.historiskeHenriker { 
	background: 
		linear-gradient(
			rgba(0, 0, 0, 0.10), 
			rgba(0, 0, 0, 0.10)
		),
		url(/main/media/images/instaboksBilder/guleTomler200.png)
	}
	
	.henrikOrNot { 
	background: 
		linear-gradient(
			rgba(0, 0, 0, 0.10), 
			rgba(0, 0, 0, 0.10)
		),	
		url(/main/media/images/instaboksBilder/guleTomler200.png)
	
	}
	
	.sitater { 
	background: 
		linear-gradient(
			rgba(0, 0, 0, 0.10), 
			rgba(0, 0, 0, 0.10)
		),
		url(/main/media/images/instaboksBilder/guleTomler200.png)
	
	}
	
	/* Sign up */
	
	#signUp {
	text-align: left;
	margin: 50px;
	margin-top: 70px;
	}

	#signUp:hover {
		font-size: x-large;
	}