/*
Blåfarge: #043b7c
Gulfarge: #faa21b
*/

/*
Navbar:
90% av bredden
Hver knapp = 15% av sidens bredd, eller 50/3% av navbarens bredd
*/

/*Bakgrunn og generellt fargetema*/
body{
    background-color: whitesmoke;
	margin: 0 0 0 0;
	font-family: "Bodoni 72 Oldstyle Book", Arial, sans-serif;
}

h1,h2,h3,h4 {
	font-family: "Bodoni 72 Smallcaps Book", Arial, sans-serif;
}

#logo {
	width: 250px;
	border-radius: 50%;
	padding: 3px;
	background-color: whitesmoke;
}

header {
	font-family: "Bodoni 72 Smallcaps Book", Arial, sans-serif;
}

/*Header og footer farga*/
header, footer {
    background-color: #043b7c;
	padding: 30px;
	text-align: center;
}

header{
	padding-bottom: 15px;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 15px;
	border-top: #faa21b 1px solid;
}
/*
nav a{
	border-right: #faa21b 1px solid;
}
*/
nav div{
	width: 1px;
	height: 20px;
	background-color: #faa21b; 
}

img {
	width: 40%;
}















/*Artikkel styling*/
article{
	margin: auto;
	width: 65%
}
/*
h1, h2, h3{
	font-family: Arial, Helvetica, sans-serif;
	color: #043b7c;
}
*/

header *, footer *{
	color: #faa21b;
}

/*Footer styling*/
footer{
    padding: 15px;
}

footer p {
	margin: 0;
	font-size: 0.8em;
}

/*Logo styling
#logo{
	float: right;
    height: 150px;

}
*/
/*Gule punkt*/
ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: #043b7c;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/*Fjerner underline på tekstlenke*/
a:link {
	text-decoration: none;
  }
