body{
    background-color: lightgray;
    position:relative;
}

header{
    background-color: darkgray;
    padding:50px;
    position: relative;
}

footer{
    background-color: darkgray;
    position:fixed;
    width:100%;
    height:30px;
    bottom:0px;
    left:0px;
}

img{
    float:right;
    height:150px;
    top:20px;
}

header{
    position:relative;
}