/*
Blåfarge: #043b7c
Gulfarge: #faa21b
*/

/*Bakgrunn og generellt fargetema*/
body{
    background-color: whitesmoke;
	margin: 0 0 0 0;
	font-family: "Times New Roman", Times, serif;
}

/*Artikkel styling*/
article{
	margin: auto;
	width: 65%
}

h1, h2, h3{
	font-family: Arial, Helvetica, sans-serif;
	color: #043b7c;
}

/*Header og footer farga*/
header, footer{
    background-color: #043b7c;
    padding: 30px;
}

header *, footer *{
	    color: #faa21b;
}

/*Footer styling*/
footer{
    padding: 15px;
}

footer p {
	margin: 0;
	font-size: 0.8em;
}

/*Logo styling*/
#logo{
	float: right;
    height: 150px;
	border-radius: 50%;
	padding: 3px;
	background-color: whitesmoke;
}

/*Gule punkt*/
ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: #043b7c;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/*Fjerner underline på tekstlenke*/
a:link {
	text-decoration: none;
  }